<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <title>Oh No...</title>
    <%- include('../components/default-head'); -%>
  </head>
  <body>
    <%- include('../components/nav'); -%>
    <div class="jumbotron text-light bg-dark m-3">
      <h1 class="display-3">404 Not Found</h1>
      <p class="lead">
        Looks like you are redirected here mistakenly, please submit an issue with detail
        <a href="https://gitlab.com/WylieYYYY/wylieyyyy.gitlab.io/-/issues">here</a>.
      </p>
    </div>
  </body>
</html>
