<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <title>Demonstration Info</title>
    <%- include('../components/default-head'); -%>
  </head>
  <body class="text-light">
    <%- include('../components/nav'); -%>
    <main class="jumbotron text-light bg-dark m-3 py-4"><%- content -%></main>
    <%- include('../components/footer'); -%>
  </body>
</html>
