<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <title>Demonstration Info</title>
    <%- include('../components/default-head'); -%>
  </head>
  <body class="text-light">
    <%- include('../components/nav'); -%>
    <main class="m-3">
      <div class="container text-light bg-dark rounded-3 p-5">
        <%- content -%>
      </div>
    </main>
    <%- include('../components/footer'); -%>
  </body>
</html>
